<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab7KuprV3.Properties.Settings.CourseWorkFor7LabConnectionString"
            connectionString="Data Source=DESKTOP-IC773V5\SQLEXPRESS;Initial Catalog=CourseWorkFor7Lab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>